#------------------------------
# NTPserver / node1 の設定
#------------------------------
- name: NTPサーバをセットアップ
  hosts: ntp_server
  gather_facts: true
  become: true
  tasks:

    - name: chronyをセットアップ
      ansible.builtin.package:
        name: chrony
        state: present # present(導入)/absent(削除)

    - name: chrony設定ファイルをテンプレートから配置
      ansible.builtin.template:
        src: ../templates/chrony.j2
        dest: /etc/chrony.conf
      notify: Restart chronyd   # notiry: 変更があればハンドラを呼び出す

    - name: FWでNTP(123)を許可 (firewalldを想定)
      ansible.posix.firewalld:
        service: ntp
        permanent: yes          # permanet  ...confに書き込み、恒久的な設定にする
        immediate: yes          # immediate ...設定を即座に反映させる
        state: enabled
      ignore_errors: yes        # firewalld以外の環境も考慮してエラーを無視する

    - name: chronyサービスを起動・有効化
      ansible.builtin.systemd:
        name: chronyd
        state: started
        enabled: yes

  handlers:  # handlers...notify で呼ばれる(tasksの最後に実行される)
    - name: Restart chronyd
      ansible.builtin.systemd:
        name: chronyd
        state: restarted

#------------------------------
# NTPclient / node2 の設定
#------------------------------
- name: NTPクライアントのセットアップ
  hosts: ntp_client
  gather_facts: true
  become: yes
  tasks:
    - name: chronyをインストール
      ansible.builtin.package:
        name: chrony
        state: present

    - name: chrony設定ファイルをテンプレートから配置
      ansible.builtin.template:
        src: ../templates/chrony.j2
        dest: /etc/chrony.conf
      vars:
        # hostvars...すべての .ymal と .ini ファイルにアクセス
        ntp_server_host: "{{ hostvars[groups['ntp_server'][0]].ansible_host }}"
      notify: Restart chronyd  # notiry...このタスクで変更があれば、指定したハンドラを呼出す

    - name: chronyサービスを起動・有効化
      ansible.builtin.systemd:
        name: chronyd
        state: started
        enabled: yes

  handlers: 
    - name: Restart chronyd
      ansible.builtin.systemd:
        name: chronyd
        state: restarted

# ------------------------------------
# クライアントの同期状態の確認
# ------------------------------------
- name: クライアントの同期状態を確認
  hosts: ntp_client
  become: yes
  tasks:
    - name: chronyc sources を実行 (サービス起動を待つ)
      ansible.builtin.command: chronyc sources
      register: chronyc_sources # 同期状態を表示するコマンド
      changed_when: false
      delay: 10                      # サービス再起動、同期を待つ
      retries: 3                     # 3回試行する
      until: chronyc_sources.rc == 0 # returncode == 0まで続ける

    - name: 結果を表示
      ansible.builtin.debug:
        var: chronyc_sources.stdout_lines
