name: "infra preview & deploy"

on:
  push:
    branches:
      - main
    paths:
      - infra/environment/**
      - .github/workflows/**
  workflow_dispatch:

env:
  TF_VERSION: 1.13.4

defaults:
  run:
    shell: bash
    working-directory: "infra/environment/**"

permissions: # Githubからﾄｰｸﾝ、ｺｰﾄﾞを取得する権限
  id-token: write
  contents: read

jobs:
  test-auth:
    name: "preview"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: terraform Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}