name: "infra preview & deploy"

on:
  push:
    branches:
      - main
    paths:
      - infra/environment/**
      - .github/workflows/**
  workflow_dispatch:

permissions:
  id-token: write # Githubが発行するトークンを取得する権限
  contents: read  # リポジトリのコードを読み取る権限

# jobs:
#   preview:
#     name: "preview"
#     runs-on: ubuntu-latest
#     steps:
#       - run: |
#           echo "Hello World."

jobs:
  test-auth:
    name: "preview"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-northeast-1
          role-to-assume: arn:aws:iam::247049166586:role/ansible-githubactions-iam-role

      - name: Verify Identity
        run: aws sts get-caller-identity

    
    