name: "infra preview & deploy"

on:
  push:
    branches:
      - main
    paths:
      - infra/environment/**
      - .github/workflows/**
  workflow_dispatch:

env:
  TF_VERSION: 1.13.4

defaults:
  run:
    shell: bash
    working-directory: "infra/environment/**"

# Githubからﾄｰｸﾝ、ｺｰﾄﾞを取得する権限
permissions:
  id-token: write
  contents: read

jobs:
  preview:
    name: "preview"
    runs-on: ubuntu-latest
    steps:
      # --- Setup Phase ---
      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Terraform setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}
      
      - name: Terraform format
        run: | 
          terraform fmt -check
        # -check: ﾌｫｰﾏｯﾄが正ならば0を返す